
.content {
    height: 90%;
    
    ion-header {
        height: 7%;

        ion-toolbar {
            --background: translucent;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }

    ion-grid {
        height: 93%;

        days-head {
            display: block;
            height: 5%;
        }

        days-grid {
            display: block;
            height: 95%;
        }
    }
}