
ion-row.week {
    height: 16%;
}

// ion-row ion-col {
//     border: 1px solid red;
// }

.day-cell {
    margin: 1px;
    position: relative;

    .ripple-parent {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 102;

        &:hover {
            cursor: pointer;
            background-color: rgba(180, 180, 180, 0.465);
        }
    }

    ion-badge.head {
        
        &:not(.current-day) {
            --background: transparent;
            &.not-belongs-month {
                --color: #8c8c8c;
            }
            &:not(.not-belongs-month) {
                --color: var(--ion-text-color);
            }
        }

        &.current-day {
            &.not-belongs-month {
                --background: var(--ion-color-tertiary-tint);
                --color: var(--ion-color-tertiary-contrast);
            }
            &:not(.not-belongs-month) {
                --background: var(--ion-color-primary-tint);
                --color: var(--ion-color-primary-contrast);
            }
        }
    }

}