<ion-row class="ion-text-center ion-text-uppercase ion-align-items-stretch week" *ngFor="let daysOfWeek of daysPerWeek">
  <ion-col size-sm *ngFor="let day of daysOfWeek" (click)="onDaySelected(day)" class="day-cell" [ngClass]="{'not-belongs-month': !belongsToMonth(day)}">
    <div class="ripple-parent ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <ion-badge class="head" [ngClass]="{'current-day': isToday(day), 'not-belongs-month': !belongsToMonth(day)}">
      {{ day | date:'dd' }}
    </ion-badge>
    <div class="shifts">
      <div style="width: 100%; height: 10px; background-color: blue;"></div>
      <div style="width: 100%; height: 10px; background-color: maroon;"></div>
      <div style="width: 100%; height: 10px; background-color: blueviolet"></div>
    </div>
  </ion-col>
</ion-row>